<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>프로필</title>
    <link rel="stylesheet" type="text/css" href="../css/profile.css" />
    <link href="https://fonts.googleapis.com/css2?family=Commissioner&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/958f20794e.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div id = "container">
      <header class = "header">
        <div class = "profile_logo">
          <i class="fab fa-react"></i>
          <a>Jae Hun Park</a>
        </div>
        <ul class = "profile_menu">
          <li><a href = "https://kkopark73.tistory.com">Blog</a></li>
          <li><a href = "#">Projects</a></li>
          <li><a href = "#">FAQ</a></li>
          
        </ul>
        <div class = "git">
          <a href = "https://github.com/qkrwogns9703">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <a href = "#"  class ="side_btn">
          <i class="fas fa-bars"></i>
        </a>
      </header>

      <section id = "content">
        <div id = "contact">
          <span id = "profile_img">
            <img src = "../images/profile3.png"/>
          </span>

          <ul id = "info">
            <li>
              <i class="far fa-envelope"></i>
              jaehunb350@gmail.com
            </li>
            <li>
              <i class="fas fa-mobile"></i>
              010-2816-0073
            </li>
          </ul>

        </div>

        <div id = "intro">
          dadwawdawkdjlakwjdlkawjd
        </div>
      </section>
    </div>
    <script src = "../js/index.js" defer></script>
  </body>
</html>
